.maincontainer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 20px;
  border-style: none;
  box-shadow: 1px 1px 5px black;
  border-radius: 8px;
  flex: 1;
  background-color: white;
}
.container-heading {
  position: relative;
  display: block;
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-bottom: 4px;
}
.search-add-container {
  position: relative;
  display: flex;
}
.leftbox {
  position: relative;
  display: flex;
  flex: 1;
  padding: 2px;
  flex-wrap: wrap;
  border: 1px solid lightgray;
}
.searcheditemcontainer {
  position: relative;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
}
.chips {
  position: relative;
  display: block;
}
.searchboxcontainer {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
  min-width: 200px;
}

.dropdowncontainer {
  position: relative;
}
.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 30em;
  border-radius: 10px;
  box-shadow: 1px 1px 5px grey;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 100;
  background: white;
}

.selectedcardscontainer {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 38em;
  margin-top: 40px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px grey;
  overflow-y: scroll;
}

.submitbtncontainer {
  position: relative;
  align-items: flex-start;
}

@media screen and (max-width: 800px) {
  .container-heading {
    font-size: x-large;
  }
}

@media screen and (max-width: 650px) {
  .container-heading {
    font-size: 20px;
  }
  .buttonmui {
    width: 130px;
  }
}

@media screen and (max-width: 550px) {
  .container-heading {
    font-size: 16px;
  }
}

@media screen and (max-width: 450px) {
  .container-heading {
    font: size 14px;
  }
  .submitbtncontainer > .MuiButton-root {
    width: 80px;
    height: 40px;
    font-size: 10px;
  }
}

@media screen and (max-width: 400px) {
  .submitbtncontainer > .MuiButton-root {
    width: 80px;
    height: 40px;
    font-size: 10px;
  }
  .leftbox {
    display: block;
    width: 100px;
  }
  .searchboxcontainer {
    display: block;
    min-width: 50px;
  }
}
