.dropdownparent {
  position: relative;
  display: block;
  margin: 0px;
  padding: 0px;
}

.dropdownparent::after {
  position: relative;
  display: flex;
  flex: 1;
  content: " ";
  height: 1px;
  background-color: lightgray;
}
.drop-down-item {
  position: relative;
  align-items: center;
  display: flex;
  margin: 20px;
  flex: 1;
}
.dropdownparent:hover {
  background-color: lightgray;
  cursor: pointer;
}

.avatar {
  position: relative;
  display: block;
  margin: 10px;
}

.userdetails {
  position: relative;
  display: flex;
  flex-direction: column;
}

.username {
  position: relative;
  display: block;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  margin: 2px;
}
.userdescription {
  position: relative;
  display: flex;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 2px;
  font-weight: 550;
  color: black;
}
.userlogo {
  position: relative;
  display: block;
  margin-right: 5px;
}
.useroccupation {
  position: relative;
  display: block;
}
.emaillogo {
  position: relative;
  display: block;
  margin: 5px;
}
.useremail {
  position: relative;
  display: block;
}

.userlogo-occupation {
  position: relative;
  display: flex;
  align-items: center;
}
.emaillogo-email {
  position: relative;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .username {
    font-size: 20px;
  }
  .avatar > .MuiAvatar-root {
    height: 55px;
    width: 55px;
  }
}

@media screen and (max-width: 750px) {
  .userdescription {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (max-width: 550px) {
  .username {
    font-size: 18px;
  }
  .userdescription {
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  .username {
    font-size: 14px;
  }
  .userdescription {
    font-size: 10px;
  }
  .avatar > .MuiAvatar-root {
    height: 40px;
    width: 40px;
    font-size: 15px;
  }
}

@media screen and (max-width: 400px) {
  .username {
    font-size: 10px;
  }
  .userdescription {
    font-size: 8px;
  }
}

@media screen and (max-width: 380px) {
  .username {
    font-size: 8px;
  }
  .userdescription {
    font-size: 6px;
  }
}
